<div class="container background-color">
  <h3 class="text-center mb-5">Search Users</h3>

  <!-- API to be hit on the click of submit button -->

  <form>
    <div class="row align-items-center">
      <div class="col-auto">
        <label for ="UserName" class="form-label">UserName: </label>
      </div>
      <div class="col-auto">
        <input type="text" class="form-control" placeholder="Username" [(ngModel)]="userName" id="UserName" name="Username">
      </div>
      <div class="col-auto ">
        <button (click)="getUsers()">Submit</button>
      </div>
    </div>
    <div class="m-4">
      <app-user-cards [userObj]="userObj"></app-user-cards>
    </div>
  </form>
</div>